/*!
Theme Name: deingrun
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: deingrun
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

deingrun is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

.herbs .herb .drag-link{position: relative;}
.herbs .herb button.btn{width: 100%;display: none;}
.drag-link .item-count-wrapp{position: absolute;bottom: 5px;right: 5px;display: none;}

.item-thumb-box .item-count,
.drag-link .item-count-alt,
.drag-link .item-count{width: 20px;height: 20px;background-color: #FFF;border-radius: 50%;border: 1px solid #CCC;text-align: center;line-height: 19px;font-size: 10px;display: block;cursor: pointer;}
.drag-link .set-item-count-wrapp{padding-right: 39px;position: relative;display: none;z-index: 20;}
.drag-link .set-item-count-wrapp input{width: 55px;text-align: center;}
.drag-link .set-item-count-wrapp button{position: absolute;right: 0;top: 0;height: 37px;line-height: 37px;padding: 0 10px;border-radius: 3px;}
.drag-link .item-remove{position: absolute;top: 5px;right: 5px;width: 20px;height: 20px;background-color: red;color: #FFF;border-radius: 50%;text-align: center;line-height: 19px;display: none;cursor: pointer;}
.drag-link.product-edit-qty .item-count{display: none;}
.drag-link.product-edit-qty .set-item-count-wrapp{display: block;}
.beet-item .drag-link .item-remove,
.beet-item .drag-link .item-count-wrapp{display: block;}
.beet-item .drag-link{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;}
.beet-item .drag-link .item-count-wrapp .set-item-count-wrapp{background-color: #FFF;border-radius: 3px;}

#planner-loader{position: fixed;left: 0;top:0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.5);z-index: 1000;}
#planner-loader > div{position: absolute;top:50%;left: 50%;background-color: #FFF;padding: 10px 20px;border-radius: 4px;margin-left: -66px;margin-top: -23px;}

.cart-sub-products-wrapper{}
.cart-sub-products-wrapper .sub-product-item{margin-bottom: 20px;}
.cart-sub-products-wrapper .sub-product-item:after{content: '';clear: both;display: block;}
.cart-sub-products-wrapper .sub-product-item .sub-product-thumbnail{width: 94px;float: left;padding: 6px 24px 6px 0;}
.cart-sub-products-wrapper .sub-product-item .sub-product-description{margin-left: 95px;}
.cart-sub-products-wrapper .sub-product-item .sub-product-description h5{letter-spacing: normal;font-weight: bold;}
.cart-sub-products-wrapper .sub-product-item .sub-product-description p{margin-bottom: 0;line-height: normal;}
.cart-sub-products-wrapper .sub-product-item .sub-product-description .sub-product-cart-info{border-top: 1px solid #f5f3eb;margin-top: 5px;padding-top: 5px;}

.woocommerce-cart-form__contents tbody tr td{border-top: 1px solid #dcdcdc!important;}
.woocommerce-cart-form__contents tbody tr:first-child td{border-top-width: 0!important;}

.btn.my-account-btn{width: auto!important;padding: 16px 20px!important;}
.btn.my-account-btn i{display: none!important;}
.btn.my-account-btn span{position: relative!important;top: auto!important;left: auto!important;}

.daingrun-order-details .beet .beet-item{width: 68.6px;height: 68.6px;}

.item-thumb-box{position: relative;}
.item-thumb-box .item-count{position: absolute;bottom: 7px;right: 7px;}

.order-items-table{}
.order-items-table tr td{padding:10px 10px 50px;vertical-align: top;}
.order-items-table p{margin-bottom: 0;line-height: normal;}
.order-items-table .item-title{background-color: #87bc1f;color: #FFF;padding: 3px 10px;min-width: 120px;font-size: 14px;text-align: center;border-radius: 3px;}
.order-items-table .item-data p{margin-top: 6px;font-size: 13px;}
.order-items-table .item-description{color: #000;}
.order-items-table .item-description h5{font-size: 14px;letter-spacing: normal;font-weight: bold;text-transform: none;color: #000;}
.order-items-table .item-description p{line-height: 1.7;}

.form-row.form-row-margin-bottom0{margin-bottom: 0!important;}
.text-required{color: red;}

.woocommerce-input-wrapper select{height: 37px;background: none;}

.dashboard-main-title{font-size: 26px;}
.dg-dashboard-column .dg-dashboard-column-inner{min-height: 130px;}
.dg-dashboard-column p{line-height: 1.6;}

.woocommerce-Address-title h4,
.dg-dashboard-column > h4{border-bottom: 2px solid #f5f3eb;padding-bottom: 7px;}

.woocommerce-MyAccount-content .woocommerce-Addresses,
.woocommerce-Address-title h4{font-size: 14px;}

.woocommerce-checkout .page-wrap > .page-content{padding: 30px 0;}

.wpmc-nav-wrapper .button{
    border-radius: 21px!important;
    font-size: .75em!important;
    padding: 15.5px!important;
    min-width: 100px;
}

.order-payment-columns .row > div[class*='col-sm']:first-child h3,
.wpmc-steps-wrapper .wpmc-step-payment > h3,
.wpmc-steps-wrapper .wpmc-step-review > h3{margin-left: 15px;}

.wpmc-step-billing{margin-left: -15px;margin-right: -15px;width: 100%;}
.wpmc-step-billing .woocommerce-billing-fields,
.wpmc-step-billing .woocommerce-shipping-fields{padding: 0 15px;width: 50%;float: left;}
.wpmc-step-billing .woocommerce-additional-fields{clear: both;padding: 0 15px;}
.wpmc-step-billing .woocommerce-info,
.wpmc-step-billing .woocommerce-additional-fields{padding: 0 15px;}

.woocommerce-checkout .checkout-table-wrapper{background-color: #f5f3eb;padding: 15px 15px 1px;}
.woocommerce-checkout .checkout-table-wrapper table tr > td:nth-child(2){text-align: right;}
.woocommerce-checkout .checkout-table-wrapper table thead{display: none;}

.wpmc-step-review #order_review_heading{margin-bottom: 20px;}


.woocommerce-checkout #payment div.payment_box{background-color: #f5f3eb;}
.payment_box:before{border-bottom-color: #f5f3eb!important;}
.woocommerce-checkout #payment ul.payment_methods{border-bottom: 0;}

.zum-menu .item-wrap img{opacity: 0.5;}
.zum-menu .item-wrap:hover img{opacity: 0.3;}

/*.beet-wrap{width: 1110px;}*/
.beet{max-width: 100%;}
.beet-item{width: calc(100%/11);}
.beet-info .cat-title{padding-left: 0;}

.herbs .herb{width: auto;}
.herbs > li{
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.herbs .herb .btn{font-size: 0.675em;}

.single-product .breadcrumb li:first-child{display: none;}
.single-product .breadcrumb li:first-child + li:before{content: normal;}

.woocommerce ul.products .product{width: auto;}

.page-header .toggler{margin-top: 5px;border-radius: 8px;}

.drag-link.product-cloned{position: absolute;}

.woocommerce-cart .cart-collaterals{max-width: 65%;}
.woocommerce-cart .cart-collaterals .cart_totals table th{width: 40%;}
.woocommerce-cart .cart-collaterals .cart_totals table tr td:last-child{width: 60%;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .beet{overflow: hidden;display: block;}
    .beet-item{width: calc((100% / 11) - 0.01px);float: left;}
}

@media (max-width: 1200px) {
    .herbs > li{
        -webkit-flex: 0 0 16.666%;
        -ms-flex: 0 0 16.666%;
        flex: 0 0 16.666%;
        max-width: 16.666%;
    }

    .page-banner .h1{
        font-size: 4em;
    }
}

@media (max-width: 991px) {
    .herbs > li{
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    /*.beet-wrap{overflow: hidden;}*/
    .beet-wrap{position: relative;}
    .beet-wrap:after{position: absolute;top: 0;bottom: 0;right: -1px;width: 1px;background-color: #FFF;content: "";z-index: 10;}
    .beet-wrap .beet{position: relative;right: -1px;}
    .beet-wrap .beet .beet-item{height: 70px;}

    .herbs-footer .description{margin-bottom: 15px;}

    .btn.my-account-btn{padding: 9px 20px!important;}

    .page-banner .h1{font-size: 3em;}
    .page-banner .h2{font-size: 1.3em;}
}

@media (max-width: 767px) {
    .herbs > li{
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .beet-wrap{width: 100%;}
    .beet-item {
        /*width: calc(100%/3);*/
    }

    .beet-wrap .beet .beet-item{height: 50px;}

    .drag-link .item-remove{top: 2px;right: 2px;}
    .drag-link .item-count-wrapp{bottom: 2px;right: 2px;}

    .herbs .herb button.btn{display: block;}

    .woocommerce-cart .cart-collaterals{max-width: 100%;}
    .woocommerce-cart .cart-collaterals .cart_totals table tr td:last-child, .woocommerce-cart .cart-collaterals .cart_totals table tr th:last-child{width: 100%;}
    /*.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{content: normal;}*/

    .cart-collaterals .cart_totals .shop_table tr > td:first-child{display: none;}
}

@media (max-width: 600px) {
    .admin-bar .page-wrap{padding-top: 116px;}
    .admin-bar #page > .page-header {
        top:47px;
    }

    .page-banner .h1{font-size: 2.5em;}
    .page-banner .h2{font-size: 1em;}

    .page-banner .item{height: auto;padding: 15% 0;}
}

@media (max-width: 480px) {
    .herbs > li{
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .page-header .nav-bar{width: auto;left: 0;}
    #page > .page-header .col.align-self-center,
    #page > .page-header .col.align-self-center .col-sm-auto{position: static;}
    .page-header .nav-bar{margin-top: 0;}
    .page-header .nav-bar ul li,
    .page-header .nav-bar ul{text-align: center;}

    .beet-wrap .beet .beet-item{width: 100%;height: auto;border-width: 0;}
    .beet-wrap .beet .beet-item .drag-link{padding-bottom: 50%;border-bottom: 15px solid #FFF;}

    .drag-link .item-remove{width: 35px;height: 35px;line-height: 35px;top: 10px;right: 10px;}
    .drag-link .item-count{width: 35px;height: 35px;line-height: 34px;}
    .drag-link .item-count-wrapp{bottom: 25px;right: 10px;}

    .page-banner .h1{font-size: 2em;}
    .page-banner .h2{font-size: 1em;}
}